/* Restriction query */

.restriction-query-panel {
    flex: auto;
    display: block;
    overflow: auto;
    font-family: 'Raleway';
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.restriction-query-panel .panel-info .panel-image,
.restriction-result-panel .panel-info .panel-image {
    position: absolute;
}

.restriction-query-panel .panel-info .panel-image .image-search{
    position: relative;
    left: -24px;
    top: 5px;
}

.restriction-result-panel .panel-info .panel-image .image-result{
    position: relative;
    left: -24px;
    top: 0px;
}

.restriction-query-panel .label-field {
    flex: auto;
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.restriction-query-panel .label-field .label {
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: #7f7f7f;
}

.restriction-query-panel .label-field .field {
    flex: auto;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-shadow: -1px 0 rgba(255,255,255,1), 0 1px rgba(255,255,255,1), 1px 0 rgba(255,255,255,1), 0 -1px rgba(255,255,255,1);
}

/* Input field */
.restriction-query-panel .label-field .field .ant-input {
    font-family: "Raleway";
    height: 28px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FEFEFE !important;
}


.restriction-query-panel .label-field .field .ant-input-sm {
    position:relative;
    top:-3px;
    height: 28px;
}

.restriction-query-panel .label-field .field .ant-tag {
    font-family: "Raleway";
    font-size: 14px;
    height: 22px;
    font-weight: 900;
    background-color: #EAEAEA;
}

.restriction-query-panel .label-field .field .ant-tag.new {
    font-weight: normal;
    background: white;
    border-style: dashed;
}

.restriction-query-panel .label-field .field .ant-select-selection__choice {
    font-family: "Raleway";
    font-size: 14px;
    height: 22px;
    font-weight: 900;
    border: 1px solid #d9d9d9;
    background-color: #EAEAEA;
}

.restriction-query-panel .label-field .field .ant-tag-text {
    margin-right: 2px;
}

.restriction-query-panel .label-field .field .ant-checkbox-wrapper {
    font-family: "Raleway";
    font-size: 14px;
}

/* Results of query */

.restriction-result-panel {
    flex: auto;
    display: block;
    overflow: auto;
    font-family: 'Raleway';
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.restriction-result-panel .panel-info {
    font-size: 14px;
    font-weight: bold;
}

.restriction-result-panel .panel-info .panel-info-header {
    color: black;
}


.restriction-result-panel .panel-info .panel-info-row span {
    margin-right: 4px;
}

.restriction-result-panel .panel-info .panel-info-row span.parameter-name {
    color: #7f7f7f;
}
.restriction-result-panel .panel-info .panel-info-row span.parameter-value {
    color: black;
}
.restriction-result-panel .panel-info .panel-info-row span.separator {
    color: #D8D8D8;
    font-size: 14px;
    content: "&ndash;"
}
